@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

#app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
    margin-top: 25px;
}

.palta-container{
    position: relative;
    display: flex;
    width: 350px;
    height: 120px;
    flex-wrap: wrap;
}

.palta-container:hover{
    background-color: rgb(135, 206, 170);
    border-radius: 15px;
}

.img{
    width: 75px;
    height: 75px;
    border-radius: 75px;
    margin: auto 0;
    margin-top: 20px;
    margin-left: 20px;
}

.precio{
    position: absolute;
    top: 35px;
    left: 104px;
    color: gray;
}

.title{
    margin-top: 17px;
    margin-left: 10px;
    font-weight: 500;
}
.parrafo{
    color: gray;
    font-size: 1.25rem; 
    line-height: 1.75rem;
    margin-top: 1rem;
    max-width: 42rem;
    line-height: 1.75rem;
    text-align: center;
}

.titulo {
    color: #0000;
    text-shadow: 
    0 0 #5D568C, 
    0 1.2em #1095c1;
    overflow: hidden;
    transition: .3s;
  }
  .titulo:hover {
    text-shadow: 
      0 -1.2em #000, 
      0 0 rgb(135, 206, 170);
  }